{
  "extends": [
    "@open-wc/eslint-config",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "@typescript-eslint"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/components/**/*.test.{html,js,mjs,ts}",
          "**/components/**/*.config.js"
        ]
      }
    ],
    // False positives importing css inline using vite.
    // Docs recommend not using outside webpack:
    // https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-unresolved.md
    "import/no-unresolved": 0
  }
}